@import './vars.sass'

*
	transition: all .3s ease-in-out

html
	scroll-behavior: smooth

body
	display: block
	width: 100%
	font-family: $default-font
	font-style: normal
	margin: 0 auto
	background-color: #F7F9FC

#app
	height: 100vh
	padding: 24px

input,
button
	border: none
	outline: none
	background-color: transparent
